h1 { 
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.header-text {
    font-family: Roboto, sans-serif;
    margin: auto;
    background: url("https://cdn.discordapp.com/attachments/212099186961678336/319341182742167562/16010622_1809199822667213_502041649_o.jpg") no-repeat center top scroll;
    height: 100%;
    background-size: cover;
    max-width: 100%;
    }
    

.Social {
    text-align: center;
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    color: #696969;
    margin: 10px;
    }

.Social:hover {
    color: #000000;
    }

a.social {
    text-decoration: none;
    color: inherit;
    }

h2 {
    padding: 5%;
    margin: 5%;
    font-family: Oswald;
    font-size: 20px;
    }
    
h2 {
    padding: 20px 20px 20px 20px;
    background-color: #E3E3E3;
    }
    
.photo {
    margin: 0 5% 5% 5%;
    background-color: #E3E3E3;
	width: 45%;
    }
    
.photo img {
    margin: 0 auto;
    width: 100%;
    }